* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;

}

body {
    background-color: rgb(236, 237, 242);
    /* rgb(57, 169, 219);   peru;*/
    font-family: Rubik, Arial;
}

header {
    background-color: cadetblue;
}

header h2 {
    color: white;
}

.overlay {
    width: 90%;
    margin: 3% auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
}

#banner {
    height: 400px;
    width: 100%;
    display: block;
    margin: auto;
    z-index: -10;
}

#profile-image {
    width: 15%;
    height: 25%;
    border: 1px solid darkgray;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    left: 10%;
    top: 30px;
    margin-left: 10px;
    margin-top: 50px;
}

#banner-text {
    position: absolute;
    top: 90px;
    left: 30%;
    color: white;
    width: 50%;
    text-align: center;
}

#banner-text p {

    font-size: medium;
}

.social-media {
    display: inline;
}

.social-media img {
    width: 30px;
    height: 30px;
    /* background-color: rgb(85, 85, 238); */
}


nav {

    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(228, 230, 243);
    padding: 8px 2px;

}


nav li {
    display: inline;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 22px;

}

dl {
    color: rgb(78, 78, 192);
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

dt {
    font-weight: bolder;
    margin-top: 20px;
}

h1 {
    font-size: 35px;
    margin-bottom: 15px;

}

h2 {
    font-size: 25px;
    margin-top: 20px;
    color: rgb(80, 93, 189);
}

hr {
    margin-bottom: 10px;

}

.tools {
    margin-top: 40px;
}

.tools img {
    width: 70px;
    height: 70px;
}

.experience-section {
    background-color: rgb(236, 237, 242);
    border: 2px inset rgb(236, 237, 242);
    border-radius: 20px;
    margin-top: 20px;
    width: 95%;
}

.skills-section {
    
    border: 2px double rgb(236, 237, 242);
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 10px;
    width: 95%;
}

.skills-section h2 {
    margin-top: 10px;
    margin-bottom: auto;
}

.contact-section {
    display: flex;
    flex-direction: column;
    border: 2px double rgb(236, 237, 242);
    border-radius: 5px;
        margin-top: 20px;
        padding-top: 10px;
        width: 95%;
}

#map-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 
#tools {
       
} */

section{
text-align: center;
line-height: 30px;
padding-left: 10px;
padding-right: 10px;
align-items: center;
width: 75%;
margin-right: auto;
margin-left: auto;
}

section hr {
    margin-bottom: 1px;
    margin-top: 0px;
    border-top: 1px solid lightgrey;
}
section h2 {
    margin-top: 20px;
}

section p {
    margin: 5px;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: left;    
    width: 100%;
    margin-top: 20px;    
    margin-left: auto;
    margin-right: auto;
   /* border-right: 1px solid lightgrey;*/

}

form label{
    text-align: left;
    align-self: left;
}

form input[type="button"]{
     margin-bottom: 10px;
     width: 40%;
     align-self: center;
    }

 form input {
            margin-bottom: 10px;
        }


footer{
    margin-top: 10px;
    text-align: center;
    color: grey;
    padding-bottom: 10px;
}

footer hr {
    margin-bottom: 10px;
}
