* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;

}
dl {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
}
 dt {
    font-weight: bolder;
    margin-top: 20px;
} 





h1 {
    font-size: 35px;
    margin-bottom: 15px;

}

 h2 {
    font-size: 25px; 
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(80, 93, 189); 
} 



hr {
    margin-bottom: 10px;

}

body {
background-color: rgb(236, 237, 242) ; /* rgb(57, 169, 219);   peru;*/
font-family: Rubik, Arial;
}

.contact {
    display: flex;
    flex-direction: row;
}

/* 
#tools {
       
} */

section{
text-align: center;
line-height: 30px;
padding-left: 10px;
padding-right: 10px;
align-items: center;
width: 75%;
margin-right: auto;
margin-left: auto;
}

.experience{
    margin-left: 30px;
    margin-right: 30px;
}

section hr {
    margin-bottom: 1px;
    margin-top: 0px;
    border-top: 1px solid lightgrey;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;    
    width: 85%;
    margin-top: 20px;    
    margin-left: 5px;
    margin-right: 5px;
   /* border-right: 1px solid lightgrey;*/

}

form label{
    text-align: left;
    align-self: left;
}

form input[type="button"]{
     margin-bottom: 10px;
     width: 40%;
     align-self: center;
    }

 form input {
            margin-bottom: 10px;
        }

section p {
    margin: 5px;
    align-items: center;
}

#map-section{
     width: auto; 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

section h2 {
    margin-top: 40px;
}

.tools {
    margin-top: 40px;
}

.tools img {
    width: 70px;
    height: 70px;
}


#overlay {
width: 80%;
margin: 3% auto;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 40px;
}

#banner {
    height: 400px;
    width: 100%;
    display: block;
    margin: auto;
    z-index: -10;
}

#profile-image {
        width: 15%;
        height: 25%;
        border: 1px solid darkgray;
        border-radius: 50%;
        padding: 2px;
        position: absolute;
        left: 10%;
        top: 30px;
        margin-left: 10px;
        margin-top: 50px;
}

#banner-text {
    position: absolute;
    top: 70px;
    left: 30%;
    color: white;
    width: 50%;
    text-align: center;
}

#banner-text p {

    font-size:medium;
}

.social-media {
    display: inline;
}

.social-media img {
    width: 20px;
    height: 20px;
    background-color:rgb(85, 85, 238);
}


nav {
    /* float: right !important; */
    /* align-items: end;*/
   
    /* display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;*/
    display: flex;
    justify-content: right;
    /* background-color: rgba(255, 255, 255, 0.9); */
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(228, 230, 243);
    padding: 8px 2px;

}


nav li {
    display: inline;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 18px;

}

footer{
    margin-top: 10px;
    text-align: center;
    color: grey;
    padding-bottom: 10px;
}

footer hr {
    margin-bottom: 10px;
}

header {
    background-color: cadetblue;
}

header h2 {
    color: white;
}