* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;

}

h1 {
    font-size: 35px;
}

 h2 {
    /* font-size: 35px; */
    margin-bottom: 10px;
} 

section p { 
    margin: 5px;
    align-items: center;
}

hr {
    margin-bottom: 10px;

}

body {
background-color: peru;
font-family: Rubik, Arial;
}

section{
text-align: center;
line-height: 30px;
}


#overlay {
width: 80%;
margin: 3% auto;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 40px;
}

#banner {
    height: 400px;
    width: 100%;
    display: block;
    margin: auto;
}

#profile-image {
        width: 15%;
        height: 25%;
        border: 1px solid darkgray;
        border-radius: 50%;
        padding: 2px;
        position: absolute;
        left: 10%;
        top: 30px;
        margin-left: 10px;
        margin-top: 50px;
}

#banner-text {
    position: absolute;
    top: 70px;
    left: 30%;
    color: white;
    width: 50%;
    text-align: center;
}

#banner-text p {

    font-size: small;
}

.social-media {
    display: inline;
}


nav {
    /* float: right !important; */
    /* align-items: end;*/
   
    /* display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;*/
    display: flex;
    justify-content: right;
    /* background-color: rgba(255, 255, 255, 0.9); */
    width: 100%;
    margin-bottom: 20px;
}


nav li {
    display: inline;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 18px;

}